---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Jog-Anon">
<div class="section no-pad-bot" id="index-banner">
		<div class="container center-align">
			<br> <br>
			<div class="row center">
				<ul class="collection with-header">
					<li class="collection-header"><h4>Aquivos de Apresentações</h4></li>
					<li class="collection-item"><div>
							Escalada<a href="/arquivos/escalada_com_audio.zip" class="secondary-content"><i
								class="material-icons">file_download</i></a>
						</div>
					</li>
					<li class="collection-item"><div>
							O que é Jog Anon<a href="/arquivos/o_que_e_jog_anon.pptx" class="secondary-content"><i
								class="material-icons">file_download</i></a>
						</div>
					</li>
					<li class="collection-item"><div>
							Dicas Jog Anon<a href="/arquivos/dicas_joganon_apresentacao.pptx" class="secondary-content"><i
								class="material-icons">file_download</i></a>
						</div>
					</li>
					<li class="collection-item"><div>
							Desligamento Emocional<a href="/arquivos/desligamento_emocional.pdf" class="secondary-content"><i
								class="material-icons">file_download</i></a>
						</div>
					</li>
					<li class="collection-item"><div>
							Fechando a torneira<a href="/arquivos/fechando_a_torneira.pdf" class="secondary-content"><i
								class="material-icons">file_download</i></a>
						</div>
					</li>
			</div>
			</li>
			</ul>
		</div>
		
	</div>
	
	</div>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>		
	</br>
	</br>
</BaseLayout>
