---
// Footer.astro
---
<footer class="page-footer #ffff00 yellow accent-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="black-text">Jog-anon</h5>
				<h6 class="black-text">Jog-anon Brasil</h6>
				<h6 class="black-text">CNPJ 61.630.533/0001-41</h6>
				<p class="black-text text-lighten-4">
					email: <a href="mailto:contato.joganon@gmail.com">contato.joganon@gmail.com</a>
				</p>
				<p class="black-text text-lighten-4">
					WhatsApp: (11) 98525-7566 
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="black-text">Relacionados</h5>
				<ul>
					<li><a class="blue-text" target="_blank" href="http://www.jogadoresanonimos.org.br/">JA Jogadores anônimos</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="black-text">Acompanhe</h5>
				<ul>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="black-text container">
			Produzido por <a class="blue-text" href="https://www.monkeymind.com.br">Monkey Mind Co</a>
		</div>
	</div>
</footer>
