---
// Header.astro
---
<nav class="light-blue darken-3" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo"><i class="material-icons">home</i></a>

		<ul class="right hide-on-med-and-down">
			<li><a href="/literatura"><span>Literatura</span></a></li>
			<li><a href="/apresentacoes"><span>Apresentações</span></a></li>
			<li><a href="/endereco"><span>Endereços</span></a></li>
			<li><a href="/experienciasPessoais"><span>Depoimentos</span></a></li>
			<li><a href="/sobre"><span>Sobre o Jog-anon</span></a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="/"><span>Home</span></a></li>
			<li><a href="/literatura"><span>Literatura</span></a></li>
			<li><a href="/apresentacoes"><span>Apresentações</span></a></li>
			<li><a href="/endereco"><span>Endereços</span></a></li>
			<li><a href="/experienciasPessoais"><span>Depoimentos</span></a></li>
			<li><a href="/sobre"><span>Sobre o Jog-anon</span></a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>
